.navbar {
  height: 110px;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-brand img {
  width: 200px;
  height: auto;
}

body {
  background-image: url("https://wallpapers.com/images/high/death-star-silhouettein-space-uhljz1j6ggbjhn60.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  height: 100vh;
  margin: 0;
}

.card-body {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.card-details {
  box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.3s ease;
}

.details-image {
  box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.3s ease;
  max-width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: contain;
}
